.about-text-paragraph {
	width: 80%;
	margin: auto;
	color: #FFF;
	text-align: justify;
	font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
	font-size: 1.5vmax;
}

.about-header {
	width: 100%;
	background-color: #0c6996;
	color:#FFF;
}

.about-section-div {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

